
.navbar {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  bottom: 87.5%;
  width: 100%;
  right: 1px;
  background-color: rgb(19, 121, 231);
  
}
ul,
a {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  gap: 10px;
  color: black;
  font-weight: 400;
   
}
a:hover {
  color: aquamarine;
  font-weight: 700;
}
