input{
  width: 100%;
}
.row{
  margin-bottom: 10px;
}
.btn{
  width: 100px;
}

.abhi{
  margin: 20px;
  padding: 20px;
  height: auto;
  width: 700px;
  margin-top: 200px;
  margin-left: 270px;
 

  
}
